* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Scroll Body */

.scrollBody {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) rgb(18, 41, 63);
}

/* Works on Chrome, Edge, and Safari */
.scrollBody::-webkit-scrollbar {
    width: 12px;
}

.scrollBody::-webkit-scrollbar-track {
    background: rgb(18, 41, 63);
}

.scrollBody::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(18, 41, 63);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
    margin-top: 5px;
    border: 2px solid rgba(200, 200, 200, 0.4);
    border-radius: 15px;
    background: rgb(63, 84, 100);
}

.logo {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.app-image {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: black;
}

#display-image {
    width: 100%;
    height: 300px;
    /* background-image: url('/pictures/img3.png'); */
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    text-align: center;
    border: none;
    resize: vertical;
    overflow: hidden;
    outline: none;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 20px;
}

.text-box {
    background: black;
    color: white;
}

.app-photo-picker {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

#meme-list {
    margin-top: 2px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.download {
    width: 130px;
    height: 40px;
    margin-top: 10px;
}

#btn-download {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    background: #6cb2cf;
}

#btn-download:hover {
    background: rgba(0, 0, 0, 0.671);
    color: white;
}